@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
header {
  background-color: rgb(45, 62, 80);
  color: #ffffff;
  height: 67px;
  width: 100%;
}
footer {
  background-color: #121212;
  min-height: 100px;
  width: 100%;
}
html,
body {
  height: 100%;
  font-family: Lato, sans-seriff;
  margin: 0px;
}
a {
  height: 100%;
  text-decoration: none;
}
p {
  margin: 0px;
  font-family: Lato, sans-seriff;
}
nav li {
  color: #ffffff;
  display: inline-block;
  font-family: Lato, sans-seriff;
  font-size: 18px;
  font-weight: 300;
  height: 67px;
  line-height: 67px;
  padding-left: 20px;
  padding-right: 20px;
}
nav li > a {
  color: #ffffff;
}
footer {
  padding-top: 20px;
}
#social-media-links {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
}
div.main-content {
  width: 100%;
}
.space-holder {
  clear: both;
}

#philosophies {
  background-color: rgb(45, 62, 80);
}
div.main-content .coming-soon {
  align-items: center;
  display: flex;
  font-size: 68px;
  height: 400px;
  justify-content: center;
}

/* Main Content */
#self-intro {
  background-color: #1f8dd6;
  display: flex;
}

#self-intro > div {
  margin: auto;
  display: flex;
}

.main-content section {
  min-height: 460px;
  padding: 48px 0px;
}

#t1d {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* Self Intro */
#self-intro-text {
  color: #ffffff;
  margin: auto;
}

/* Nav */
nav {
  display: flex;
  height: 100%;
  margin: 0px 16px;
}

nav li:hover {
  cursor: pointer;
}

#core-anchor {
  display: inline-block;
  font-size: 24px;
  margin: auto;
}

#core-anchor a {
  color: #ffffff;
}

nav > ul {
  display: inline-block;
  flex-grow: 1;
  margin: 0px;
  text-align: right;
}

/* Section Card */
.card-list {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 16px;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}

.card .card-description {
  font-size: 18px;
}
/* Shared Classes */

.section-header {
  margin-bottom: 40px;
  text-align: center;
}

.section-header .secondary-text {
  margin-top: 32px;
}

.header-text {
  font-size: 60px;
  font-weight: bold;
}

.secondary-text {
  font-size: 22px;
}

.light-text {
  color: #454545;
}

.row-container {
  max-width: 1200px;
  margin: 0 auto;
}

.icon-spacing {
  margin-bottom: 12px;
}

.instagram-widget {
  margin: auto;
}

.responsive-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}
