<!doctype html>
<html>
  <head>
    <title>Hello from Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="static/css/main-layout.css?11~"/>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <a href="#self-intro"><li>Me</li></a>
                <a href="#t1d-info"><li>T1D</li></a>
                <a href="#philosophies"><li>Thoughts</li></a>
            </ul>
        </nav>
    </header>
    <div class="main-content">
      <div id="self-intro">
        <p class="coming-soon">Coming Soon!!</p>
      </div>
      <div id="t1d-info">
        <p class="coming-soon">Coming Soon!!</p>
      </div>
      <div id="philosophies">
        <p class="coming-soon">Coming Soon!!</p>
      </div>
    </div>
    <footer>
      <div id="social-media-links">
          <a href="https://www.linkedin.com/pub/kyle-vermeer/35/3b9/210/">
              <img src="static/images/li_logo.png" width="68" height="58"/>
          </a>
          <a href="https://www.facebook.com/kylevermeer">
              <img src="static/images/fb_logo_white_58.png" width="58" height="58"/>
          </a>
      </div>
    </footer>
  </body>
</html>
