<!doctype html>
<html>
  <head>
    <title>Hello from Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="static/css/main-layout.css?12~"/>
  </head>
  <body>
    <header>
        <nav>
          <div id="core-anchor">
            <a href="/">Kyle Vermeer</a>
          </div>
          <ul>
              <li><a href="#self-intro">Me</li></a>
              <li><a href="#t1d-info">T1D</li></a>
              <li><a href="#philosophies">Thoughts</li></a>
          </ul>
        </nav>
    </header>
    <div class="main-content">
      <section id="self-intro">
        <div id="self-intro-text">
          <p class="header-text">Software Engineer</p>
          <p class="secondary-text">Focused on problems with real world impact</p>
        </div>
      </section>
      <section id="t1d">
        <p class="header-text section-header">Type 1 Diabetic</p>
        <div class="card-list">
          <div class="card">
            <p class="card-title">CGM</p>
            <p class="card-description">Kyle is a proponent of Continuous Glucose Montitoring (CGM). It's been life changing!</p>
          </div>
          <div class="card">
            <p class="card-title">Community</p>
            <p class="card-description">Kyle is a proponent of Continuous Glucose Montitoring (CGM). It's been life changing!</p>
          </div>
          <div class="card">
            <p class="card-title">Transparency</p>
            <p class="card-description">Kyle is a proponent of Continuous Glucose Montitoring (CGM). It's been life changing!</p>
          </div>
        </div>
      </section>
      <section id="philosophies">
        <p class="coming-soon">More to come...</p>
      </section>
    </div>
    <footer>
      <div id="social-media-links">
          <a href="https://www.linkedin.com/pub/kyle-vermeer/35/3b9/210/">
              <img src="static/images/li_logo.png" width="68" height="58"/>
          </a>
          <a href="https://www.facebook.com/kylevermeer">
              <img src="static/images/fb_logo_white_58.png" width="58" height="58"/>
          </a>
      </div>
    </footer>
  </body>
</html>
