<!doctype html>
<html>
  <head>
    <title>Kyle's Personal Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="static/css/main-layout.css?12~"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css" />
  </head>
  <body>
    <header>
        <nav>
          <div id="core-anchor">
            <a href="/">Kyle Vermeer</a>
          </div>
          <ul>
              <li><a href="#self-intro">Me</li></a>
              <li><a href="#t1d-info">T1D</li></a>
              <li><a href="#philosophies">Thoughts</li></a>
          </ul>
        </nav>
    </header>
    <div class="main-content">
      <section id="self-intro">
        <div id="self-intro-text">
          <p class="header-text">Software Engineer</p>
          <p class="secondary-text">Focused on problems with real world impact</p>
        </div>
      </section>
      <section id="t1d">
        <p class="header-text section-header">Type 1 Diabetic</p>
        <div class="row-container pure-g">
          <div class="pure-u-1 pure-u-md-1-3">
            <div class="card">
              <img class="icon-spacing" src="static/images/cgm_icon.svg" height="48"/>
              <p class="card-title">CGM</p>
              <p class="card-description light-text">I am a proponent of Continuous Glucose Montitoring (CGM). It's been life changing! An absolute must for all type 1s.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <div class="card">
              <img class="icon-spacing" src="static/images/community_icon.svg" height="48"/>
              <p class="card-title">Community</p>
              <p class="card-description light-text">I believe it is critical for T1Ds to find supportive communities.  Connecting with other T1Ds is a passion of mine.</p>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-3">
            <div class="card">
              <img class="icon-spacing" src="static/images/transparency_icon.svg" height="48"/>
              <p class="card-title">Transparency</p>
              <p class="card-description light-text">I LOVE people knowing I am a Type 1 Diabetic.  It gives people more context about my life.  I want people to be comfortable and confident about talking about their disease.</p>
            </div>
          </div>
        </div>
      </section>
      <section id="philosophies">
        <p class="coming-soon">More to come...</p>
      </section>
    </div>
    <footer>
      <div id="social-media-links">
          <a href="https://www.linkedin.com/pub/kyle-vermeer/35/3b9/210/">
              <img src="static/images/li_logo.png" width="68" height="58"/>
          </a>
          <a href="https://www.facebook.com/kylevermeer">
              <img src="static/images/fb_logo_white_58.png" width="58" height="58"/>
          </a>
      </div>
      <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
  </body>
</html>
